:root {
    --bordeaux: rgb(116, 0, 1);
    --red: rgb(174,0,1);
    --yellow: rgb(238,186,48);
    --sand: rgb(211,166,37);
    --black: rgb(0,0,0);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
    height: 70px;
    background: var(--red);
}

header img {
    height: 80%;
}

#content {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

nav {
    width: 200px;
    background: var(--yellow);
}

nav .nav-element {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    border-bottom: 1px solid white;
}

nav .nav-element .nav-icon {
    width: 30px;
    margin-right: 15px;
}

main {
    flex-grow: 1;
}