:root {
  --bordeaux: rgb(116, 0, 1);
  --red: rgb(174, 0, 1);
  --yellow: rgb(238, 186, 48);
  --sand: rgb(211, 166, 37);
  --green: rgb(16, 71, 29);
  --black: rgb(0, 0, 0);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  background: var(--red);
}

header img {
  height: 80%;
}

#content {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

nav {
  width: 200px;
  color: white;
  background: var(--sand);
}

nav .nav-element {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  border-bottom: 1px solid white;
}

nav .nav-element:hover, nav .nav-element.active {
  color: rgba(0, 0, 0, .8);
  background: var(--yellow);
}

nav .nav-element:active {
  transform: scale(1.01);
}

nav .nav-element .nav-icon {
  width: 30px;
  margin-right: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 30px 30px;
}

main form {
  min-width: 525px;
  max-width: 800px;
}

main .success {
  color: green;
}

main .error {
  color: red;
}

.action-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  height: 22px;
  width: 22px;
  margin: 0 3px;
  color: white;
  opacity: 0.85;
  padding: 3px 3px;
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.action-icon.view {
  background: var(--green);
}

.action-icon.edit {
  background: var(--yellow);
}

.action-icon.delete {
  background: var(--red);
}

.action-icon:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.action-icon:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.margin-top {
  margin-top: 8px;
}